.main-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
.main-header {
    color: #303030;
    font-size: 16px;
    font-weight: light;
}
.nasa-img {
    max-height: 350px;
    width: auto;
}
.img-small-text-container {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.nasa-small-text {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-weight: bold;
}
.nasa-description {
    width: 300px;
    height: fit-content;
    font-size: 14px;
    text-align: center;
}